/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 2em;
}
input{
    outline:none
}*/

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 2em;
}

button:hover {
    opacity: 0.8;
}


#loginButton{
margin: 15% 25% 5% 25%;
width: 50%;
font-size: 9em;
opacity: .5;
}

#background{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    background:url("/static/interface_assets/image.jpg") no-repeat center center fixed;
    background-size: cover;
 }


#monthHeader{cursor: pointer}

#loginBox{
    position: fixed;
    width:100%;
    height: 100%;
    border: none;
    z-index: 4;
    backdrop-filter: blur(30px);
    padding-top: 20%;
}
.loginInput{
    outline:none;
    border:none;
    margin-left:20%;
    opacity: .4;
    width: 170px;
    margin:auto;
}
.loginInput input{
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}
.loginInput input[type=submit]{
    width: 40%;
    margin-left: 30%;
    display: none;
}

#search_input{
    position: fixed;
    top: 10%;
    left: 10%;
    height:5%;
    width:80%;
    border-radius: 99999px;
    font-size: large;
    border: none;
    opacity: .6;
    padding-left: 20px;
    z-index: 4;
    backdrop-filter: blur(30px);
}

#search_input:focus{
    outline: none;
    opacity: .9;
}

#search_result{
    position: fixed;
    top: 20%;
    width: 100%;
    height: 60%;
    padding: 0px;
    /*backdrop-filter: blur(10px);*/
    overflow: auto;
    z-index: 4;
}

#search_result_table{
    height: auto;
    margin-left: 10%;
    width: 80%;
    backdrop-filter: blur(60px);
    border-radius: 20px;
    padding-left: 10px;
    box-shadow: 5px 5px 14px rgba(25,25,25,.6);
    color: white;
}
#search_result_table tr{
    height: 10%;
}
#search_result_table td{
    padding: 3px;
    font-size: 2em;
    font-family: 'Dawning of a New Day', 'Long Cang' ;
}
#search_result_table td a{
    display: inline;
    color: black;
}
#search_result_table button{
    display: inline;
    background-color: none;
}
#btnNext, #btnPrev {
    outline: none;
	z-index: 6; 
	position: fixed; 
	width:20%; 
	height: 10%;
	top: 0; 
	right: 0; 
	display: block; 
	padding: 5% 1% 3% 1%; 
	font-size: 2em; 
	font-family: 'Long Cang','Anton';
	border: none; 
	text-decoration: none; 
	background: rgba(255, 255, 255, 0); 
	color: white;
	text-align: center; 
	padding: 5,10,5,10; 
	cursor: pointer
}
#btnPrev {left: 0}

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Anton', sans-serif;
    overflow:hidden
}

/* the calendar as a table */
table{
    z-index: 5;
    height: 100%;
    width:100%;
    position: absolute;
    top 0;
    bottom 0;
    left; 0;
    right; 0;
    background-color:rgba(222,222,222,0)
}
tr{
    height: 13%;
}


a{
    cursor: pointer;
}
a:hover{opacity: 1}
#calendarTable{
    backdrop-filter: blur(10px);
}
#calendarTable td{
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    background-color: rgba(250,250,250,0.2);
    /*background:url("../interface_assets/image-blur.jpg") no-repeat center center fixed;*/
    text-align: center;
    border-radius: 10px;
    color: white;
}
#calendarTable td.filled_date{
/*this is no longer used due to that finding which date is filled takes too long*/
    /*background-color: rgba(50,50,50,.1);*/
    backdrop-filter: blur(100px);
}
#calendarTable td a{
    display: block;
    width: 100%;
    height:100%;
    color: rgba(255,255,255, .8);
    opacity:1;
    text-decoration: none;
    font-size: 4em;
    color: rgb(200,200,200);
}
#calendarTable td.today a{
    background-color: rgba(50,50,50,.1);
    color: black;
}
#calendarTable td:hover{opacity: .8;}
#monthHeader{
    border-radius: 5px;
    opacity: .9;
    background-image: none;
    backdrop-filter: blur(6px);
}


.dayHeader{ height: 5%; background-color: rgba(0,0,0,0); font-size: 1em}
#monthHeader{ font-size: 6em; background-color: rgba(0,0,0,0)}

#clock, #date
{
    z-index: 3;
    font-size: 3em;
    display: block;
    position: absolute; bottom: 5%;
    padding:0;
    margin:0;
    color: #eee;
    opacity: .3;
    font-family: 'Codystar','Orbitron', 'Anton';
    cursor: pointer
}
#clock{ left:120px;}
#date{font-size: 5em; right:120px; bottom: 2%}


#curtain
{
    z-index: 2;
    display: block;
    height: 100%; width: 100%;
    position: fixed; top: 0;
    background-color: black;
    background: linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,0)); /* Standard syntax */
    opacity: .8
}
#greetings{
    position: fixed;
    top: 40%;
    left: 40%;
    height:5%;
    width:20%;
    border-radius: 99999px;
    font-size: large;
    border: none;
    opacity: .6;
    padding-left: 20px;
    z-index: 5;
    backdrop-filter: blur(130px);
}
#adminbox{
    z-index:100;
    text-align: center;
}

#diary_display{
    backdrop-filter: blur(20px);
    color: white;
    padding: 10%;
    padding-top: 3%;
    width: 80%;
    font-family: 'Dawning of a New Day', 'Long Cang' ;
    font-size: 25px;
}

.diary_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 15px;
  border-color: white;
  border-style: solid;
  width: 50%;
}
#diary_edit_button, .modal_close_button, #diary_save_button{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 80px;
    opacity: .8;
}
#diary_edit_button, #diary_save_button{
    left: 10px;
    background-color: rgba(0,0,0,0)
}
#diary_submit_button{background-color: rgba(0,0,0,0)}


#uploadForm .container{
    width: 100%;
    display: inline-block;
    align: center;
}
#diary_content_input{
	height:65vh;
	width: 100%;
	opacity: .6;
}
#diary_content_input:focus{
	border: 1px solid #0C0;
}
#diary_date_input{
    font-size: 2em;
    font-family: anton;
    border-radius: 999999px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: .7;
}

#camera_label{
    display: block;
    text-align:center;
    }
#camera_label img{
height: 100px;}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 5% auto 15% auto;  5% from the top, 15% from the bottom and centered */
    margin: auto 10% auto 10%;  /*5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    height: 80%;
    background: url("/static/interface_assets/image-blur.jpg") no-repeat center center fixed;
    background-size: cover;
}

.modal-content {
    /* this is customizations*/
/*
    background: url("./image-blur.jpg");
    background-size: cover;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* TODO below are moved from the index. needs to cleanup */






/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto 10% auto 10%;  /*5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    height: 80%;
    background: url("/static/interface_assets/image-blur.jpg") no-repeat center center fixed;
    background-size: cover;
}


/* Full-width input fields */
/*
input[type=text], input[type=password] ,input[type=file], input[type=date], #checkboxBlock {
    padding: 15%; auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 2em;
}

input[type=date]{
width:50%;
float:right;
}

input[type=checkbox]{
   transform: scale(4);
}
*/

#checkboxBlock{
    width:45%;
    height: 10%;
    padding-left: 3%;
}
#checkboxBlock p{float: right; margin: 0}


/* Set a style for all buttons */
button{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#closeAdmin{
    display:block;
    width: 100%;
    background: rgba(255,250,250,.5);
    font-size: 3em;
    text-align: center;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}





#uploadForm{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
#uploadForm label{
	display: block;
	margin: 0px 0px 15px 0px;
}
#uploadForm label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
#uploadForm span.required{
	color:red;
}
#uploadForm .tel-number-field{
	width: 40px;
	text-align: center;
}
#uploadForm input.input-field, #uploadForm .select-field{
	width: 48%;
}
#uploadForm input.input-field,
#uploadForm .tel-number-field,
#uploadForm .textarea-field,
 #uploadForm .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
#uploadForm .input-field:focus,
#uploadForm .tel-number-field:focus,
#uploadForm .textarea-field:focus,
#uploadForm .select-field:focus{
	border: 1px solid #0C0;
}
#uploadForm .textarea-field{
	height:100px;
	width: 55%;
}
#uploadForm input[type=submit],
#uploadForm .container input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#uploadForm .container input[type=submit]:hover,
#uploadForm .container input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
