<!DOCTYPE html>
<html>
<head>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">        
    <title>LELE Calendar</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swipebox.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day">


    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swipebox.js') }}"></script>

    <script src="{{ url_for('static', filename='js/handSwipe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <div id="background" onclick="showCalendar()"> </div>
    <div id="curtain" onclick="showCalendar()"></div>

    <div id="blurbackground"></div>
    <div id="divCalendar"></div>
        
    <button id="btnPrev" type="button">上个月</button>
    <button id="btnNext" type="button">下个月</button>
    <div id="clock"></div>
    <div id="date"></div>

    <!-- modals -->
    <div id="adminbox" class="modal" style="display:none"></div>

    <div id="diary_display" class="modal" style="display: none"></div>
    <!--end  modal-->
 
</body>
</html>


