{% extends 'base.html' %}

{% block content %}
    <div id="background"> </div>
    <div id="curtain" onclick="toggleSearch()">{{ greetings }}</div>

    <div id="blurbackground" style="display:none"></div>

    <div id="loginBox">
        <form class="loginInput" method="post" action="/">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Login"/>
        </form>
    </div>
{% endblock %}


