{% extends 'base.html' %}

{% block content %}
    <div id="searchBar">
        <form action="/{{ user }}/search">
            <input style="display: none" type="search" id="search_input" name="search" pattern=".*\S.*" placeholder="Search..">
            <input type="hidden" value="{{ user }}" name="user" />
        </form>
        <div id="search_result">{{ search_result | safe }}</div>
    </div>


    <div id="background">
        <img src="/static/photos/{{ user }}/image.jpg" style="display:block; width: 100vw; height: 100vh; object-fit: cover;" />
    </div>


    {% if authenticated %}
    <div id="curtain" onclick="toggleSearch()">
            {{ greetings }}
    </div>
    <div id="blurbackground" style="display:none"></div>
    <div id="divCalendar" style="display:none"></div>
        
    <button id="btnPrev" type="button" style="display:none">上个月</button>
    <button id="btnNext" type="button" style="display:none">下个月</button>

    <!-- what's displayed on screen -->
    <div id="clock"></div>
    <div id="date" onclick="showCalendar()"></div>
    <div id="settings_buttons">
        <form method="POST" action="{{ url_for('export_all_diaries') }}">
            <input type="hidden" name="user_name" value={{ user }}>
            <input type="submit" value="all">
        </form>
        <form method="POST" action="{{ url_for('export_diary_by_date') }}">
            <input type="hidden" name="user_name" value={{ user }}>
            <input type="date" name="date"/>
            <input type="submit" value="by_date">
        </form>
    </div>
    <!-- end on screen blocks -->

    {% else %}
            <div id="loginBox">
                <a href="/login_page">Login Here</a>
            </div>
    {% endif %}

    <!-- modals -->
    <div id="adminbox" class="modal" style="display:none">

    </div>

    <div id="diary_display" class="modal" style="display: none"></div>
    <!--end  modal-->

    <script>var user="{{ user }}"</script>
    {% if not search_result %}
        <script src="{{ url_for('static', filename='js/mobile.js') }}"></script>
    {% else %}
        <script> var isMobile = false; </script>
    {% endif %}

{% endblock %}


