        <div id="id01" class="modal">
          <form id="uploadForm" class="modal-content animate" action="/generate_diary" method=POST enctype="multipart/form-data">
            <div class="imgcontainer">
              <img src="{{ url_for('static', filename='interface_assets/logo.gif') }}" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                <input type="date" name="date" data-date-inline-picker="true" value="{{ date }}"  required />
                <input type="file" name="image" />
                <textarea name="content"></textarea>
                <button name="sub" id="sub">Submit</button>
                <span id="closeAdmin" onclick="hideAdminBox()">Cancel</span>
            </div>
          </form>
        </div>

    <div id = "infoBox"></div>