<form id="uploadForm" action="/generate_diary" method=POST enctype="multipart/form-data">
    <div class="container">
        <input id="diary_date_input" type="date" name="date"
               data-date-inline-picker="true" value="{{ date }}"
               style="float:left"
               required />

        <br/><hr/>
        <textarea id="diary_content_input" name="content">{{ content }}</textarea>
        <script>CKEDITOR.replace( 'content', {height: 400} );</script>

        <hr/>
        <input type="file" name="image" style="width:100%" />

        <button id="diary_submit_button" name="sub" onclick="hideDiary()">Submit</button>
        <img class="modal_close_button" src="static/interface_assets/close.png"
            style="width: 30px"
            onclick="hideDiary()">
    </div>
</form>
